.bg-c{
    background-image: linear-gradient(180deg, rgb(0, 103, 105), rgb(64, 165, 120));

}
.bspace{
    height: 40px;
    background-image: linear-gradient(0deg,rgb(0, 103, 105), rgb(64, 165, 120));

}
.bspace1{
    height: 40px;
    background-image: linear-gradient(0deg,rgb(0, 103, 105), rgb(64, 165, 120));

}